[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/WeAreLeka/Arduino-Makefile
[submodule "lib/aJSON"]
	path = lib/aJSON
	url = https://github.com/interactive-matter/aJson.git
